<form #f="ngForm">
	<div class="form-group">
		<label for="name">Name</label>
		<input 
			#name="ngModel"
			name="name" 
			id="name" 
			type="text" [(ngModel)]="shipping.name" class="form-control" required>
			<div *ngIf="name.touched && name.invalid" class="alert alert-danger">
				<div *ngIf="name.errors.required">Name is required</div>
			</div>
	</div>
	<div class="form-group">
		<label for="name">Line 1</label>
		<input 
			#addressLine1="ngModel"
			name="addressLine1" 
			id="addressLine1" 
			type="text" [(ngModel)]="shipping.addressLine1" class="form-control" required>
			<div *ngIf="addressLine1.touched && addressLine1.invalid" class="alert alert-danger">
				<div *ngIf="addressLine1.errors.required">Address Line 1 is required</div>
			</div>
	</div>
	<div class="form-group">
		<label for="name"></label>
		<input 
			#addressLine2="ngModel"
			name="addressLine2" 
			id="addressLine2" 
			type="text" [(ngModel)]="shipping.addressLine2" class="form-control" required>
			<div *ngIf="addressLine2.touched && addressLine2.invalid" class="alert alert-danger">
				<div *ngIf="addressLine2.errors.required">Address Line 2 is required</div>
			</div>
	</div>
	<div class="form-group">
		<label for="name">City</label>
		<input 
			#city="ngModel"
			name="city" 
			id="city" 
			type="text" [(ngModel)]="shipping.city" class="form-control" required>
			<div *ngIf="city.touched && city.invalid" class="alert alert-danger">
				<div *ngIf="city.errors.required">City is required</div>
			</div>
	</div>
	<button
		[disabled]="!f.valid"
		(click)="placeOrder()"
		class="btn btn-sm btn-primary"
	>Place Order</button>
</form>